.cont {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}
.osfoto {
    width: 1400px;
    position: absolute;
    height: 805.33px;
    background: url(img/изображение121.png);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.grad {
    position: absolute;
    width: 914px;
    height: 802px;
    top: 0;
    left: 0;
    background: linear-gradient(88.49deg, rgba(0, 0, 0, 0.75) -24.47%, rgba(0, 0, 0, 0.698903) 43.41%, rgba(0, 0, 0, 0.585392) 56.88%, rgba(0, 0, 0, 0) 98.71%);
    margin-left: 225px;
}
.logo {
    margin-top: 47px;
    margin-left: 87px;
    position: absolute;
}
.top_menu_links {
    position: absolute;
    display: flex;
    width: 497px;
    height: 30px;
    margin-left: 820px;
    margin-top: 87px;
}
.top_menu_links p {
    color: aliceblue;
}
.t {
    margin-right: 40px;
}
.vstup {
    position: absolute;
}
.nazv {
    position: absolute;
    display: flex;
}
.D p {
    color: #FFFF;
    position: absolute;
    width: 604px;
    height: 79px;
    left: 100px;
    top: 298px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
}
.I p {
    color: #ffbe22;
    position: absolute;
    width: 604px;
    height: 79px;
    left: 330px;
    top: 298px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
}
.meltxt {
    position: absolute;
}
.meltxt p {
    color: #FFFF;
    width: 503px;
    margin-top: 403px;
    margin-left: 100px;
    text-align: left;
}
.knpk {
    position: absolute;
    width: 250px;
    height: 52px;
}
.pytka {
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 52px;
    left: 100px;
    top: 490px;
    border: 2px solid #F5B826;
    border-radius: 10px;
    background-color: transparent;
    color: #F5B826;
}
.poch {
    position: absolute;
    margin-top: 908px;
    margin-left: 100px;
    display: flex;
}
.re8 {
    margin-left: 445px;
    margin-top: 15px;
}
.re4 {
    margin-top: 73px;
    margin-left: 265px;
}
.f1 {
    position: absolute;
    margin-top: 100px;
    margin-left: 350px;
}
.up {
    display: flex;
    width: 300px;
    margin-top: 50px;
}
.l {
    position: absolute;
}
.r {
    position: absolute;
    padding-left: 450px;
}
.vec2 {
    position: absolute;
    margin-left: 25px;
    margin-top: 25px;
}
.star {
    position: absolute;
}
.vec3 {
    position: absolute;
}
.txt {
    position: absolute;
    margin-top: 110px;
    width: 350px;
}
.down {
    position: absolute;
    display: flex;
    margin-top: 300px;
    width: 300px;
}
.E3 {
    position: absolute;
}
.E2 {
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
}
.vec6 {
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
}
.knpk2 {
    position: absolute;
    width: 250px;
    height: 52px;
    left: 10px;
    top: 685px;
}
.pytka2 {
    background: #F5B826;
    border: 2px solid #F5B826;
    border-radius: 10px;
    width: 250px;
    height: 52px;
    left: 10px;
    top: 685px;
    color: #FFFF;
}
.etaps {
    position: absolute;
    margin-top: 1800px;
    margin-left: 100px;
    display: flex;
    width: 1400px;
}
.f2 {
    position: absolute;
    margin-top: 110px;
    margin-left: 50px;
}
.re3 {
    margin-top: 120px;
}
.re42 {
    margin-top: 65px;
    margin-left: 80px;
}
.rw {
    display: block;
    position: absolute;
}
.rww {
    display: block;
    position: absolute;
    margin-left: 300px;
}
.rww h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;
    text-align: center;
    color: #F5B826;
}
.rww p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    color: #000000;
}
.rw h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;
    text-align: center;
    color: #F5B826;
}
.rw p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    color: #000000;
}
.rig {
    margin-top: 140px;
    margin-left: 100px;
}
.hetps {
    text-align: start;
    width: 72px;
}
.knpk22 {
    position: absolute;
    width: 250px;
    height: 52px;
    left: 10px;
    top: 685px;
    margin-left: 550px;
}
.usl1 {
    position: absolute;
    margin-top: 2650px;
    margin-left: 100px;
    width: 1400px;
}
.usl {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 2780px;
    margin-left: 100px;
    width: 1400px
}
.l1 {
    background: url(img/Rectangle19.png);
    width: 365px;
    height: 640px;
}
.lr {
    background: url(img/Rectangle19.png);
    width: 365px;
    height: 640px;
    margin-left: 70px;
}
.r1 {
    background: url(img/Rectangle19.png);
    width: 365px;
    height: 640px;
    margin-left: 70px;
}
.l1t {
    margin-top: 30px;
    margin-left: 30px;
}
.l1t p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #F5B826;
}
.ul1 {
    list-style-type: none;
    color: #FFFF;
}
.dop {
    margin-top: 30px;
}
.dop1 {
    margin-top: 10px;
    margin-left: 30px;
}
.dop1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}
.knpk23 {
    position: absolute;
    width: 171px;
    height: 48px;
}
.pytka3 {
    border: 3px solid #F5B826;
    border-radius: 10px;
    background-color: transparent;
    position: absolute;
    width: 171px;
    height: 48px;
    color: #F5B826;
    left: 30px;
    top: 20px;
}
.otz1 {
    display: flex;
    position: absolute;
    margin-top: 3520px;
    margin-left: 100px;
    width: 1400px;
}
.otz {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 3650px;
    margin-left: 100px;
    width: 1400px
}
.per {
    position: absolute;
    margin-left: 1070px;
}
.e30 {
    position: absolute;
    margin-left: 70px;
}
.e29 {
    position: absolute;
}
.p2 {
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
}
.p3 {
    position: absolute;
    margin-left: 90px;
    margin-top: 10px;
}
.ott {
    position: absolute;
}
.ott1 {
    position: absolute;
    margin-left: 650px;
}
.ava {
    position: absolute;
    margin-top: 40px;
    margin-left: 60px;
}
.nam p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #333333;
}
.tlr {
    position: absolute;
    margin-left: 170px;
    margin-top: 40px;
}
.nam {
    position: absolute;
}
.zve {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.dat {
    position: absolute;
    margin-top: 45px;
    margin-left: 460px;
}
.dat p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: rgba(0, 0, 0, 0.5);
}
.podch {
    position: absolute;
    margin-top: 150px;
    margin-left: 60px;
}
.otx {
    position: absolute;
    margin-left: 80px;
    margin-top: 190px;
    width: 450px;
    height: 50px;
}
.otx p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #333333;
}